@page "/"

<PageTitle>Index</PageTitle>

<Jumbotron Flex="Flex.Grow.Is1.AlignContent.Center"
           Background="Background.Dark"
           TextColor="TextColor.White"
           Border="Border.Light.OnAll.Is2.Rounded"
           Margin="Margin.Is2.OnY"
           Shadow="Shadow.Default">
    <JumbotronTitle>
        A simple, lightweight Blazor runner
    </JumbotronTitle>
    <JumbotronSubtitle>
        Upload a file below to get started
    </JumbotronSubtitle>
</Jumbotron>
<Container Fluid
           Flex="Flex.InlineFlex.Column.AlignContent.Between"
           Margin="Margin.Is3.OnY">
    <UploadTests />
    <Div
        Flex="Flex.Grow.Is1.Shrink.Is1.Row"
        Border="Border.Light.OnAll.RoundedCircle.Is2" 
        TextColor="TextColor.Light" 
        Background="Background.Dark">
        <Paragraph>
            @($"Running {_testCasesToRun} of {_testCasesDiscovered} tests...")
        </Paragraph>
    </Div>
    <ListGroup Flush
               Background="Background.Dark"
               Border="Border.Light.OnAll.Is2.Rounded"
               Shadow="Shadow.Default"
               Margin="Margin.Is2.OnY">
        <TestDetails />
    </ListGroup>
</Container>
