<ListGroupItem Background="Background.Transparent"
               TextColor="TextColor.Light">
    <Div Flex="Flex.JustifyContent.Between" 
         Width="Width.Is100"
         Background="Background.Transparent">
        <Heading Size="HeadingSize.Is5"
                 Margin="Margin.Is1.FromBottom"
                 TextColor="TextColor.Light">
            Sample Test Name
        </Heading>
        <Icon IconStyle="IconStyle.Regular"
              Name="IconName.CheckCircle" 
              TextColor="TextColor.Success" 
              IconSize="IconSize.Large"/>
    </Div>
    <Paragraph 
        Margin="Margin.Is1.FromBottom">
        Test Reported Successful Execution
    </Paragraph>
</ListGroupItem>