<Container 
    Fluid
    Border="Border.Light.OnAll.Is2.Rounded"
    Background="Background.Dark"
    TextColor="TextColor.Light">
    <Row Flex="Flex.Row.AlignContent.Center">
        <Column Flex="Flex.Column.AlignItems.Center"
                ColumnSize="ColumnSize.IsThird">
            <Form Background="Background.Dark">
                <Field Horizontal>
                    <FieldLabel Margin="Margin.Is2.FromEnd" ColumnSize="ColumnSize.IsQuarter">
                        Upload A Test File
                    </FieldLabel>
                    <FieldBody Background="Background.Dark" ColumnSize="ColumnSize.Is9">
                        <FileEdit @ref="@_fileEdit" 
                                  AutoReset="false" 
                                  Filter=".cs,.dll" 
                                  Multiple 
                                  Border="Border.Light.OnAll.Is2.Rounded"
                                  Changed="OnChanged"
                                  Written="OnWrittenAsync"
                                  Progressed="OnProgressedAsync"/>
                    </FieldBody>
                </Field>
            </Form>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.IsQuarter">
            <Paragraph>
                Files Uploaded: @_uploadedFiles
            </Paragraph>
        </Column>
        <Column ColumnSize="ColumnSize.IsQuarter">
            <Paragraph>
                Tests Found: @_summary.Total
            </Paragraph>
        </Column>
        <Column ColumnSize="ColumnSize.IsQuarter">
            <Paragraph>
                Runs: 
            </Paragraph>
        </Column>
        <Column ColumnSize="ColumnSize.IsQuarter">
            <Paragraph>
                Successful Tests: @(_summary.Total - _summary.Failed)
            </Paragraph>
            <Paragraph>
                Failed Tests: @_summary.Failed
            </Paragraph>
        </Column>
    </Row>
</Container>